<div class="project-grid">
  <mat-card *ngFor="let project of projects" class="project-card">
    <mat-card-header>
      <mat-card-title>{{ project.name }}</mat-card-title>
    </mat-card-header>

    <img mat-card-image [src]="project.img" [alt]="project.name + ' screenshot'" class="project-image" />

    <mat-card-content>
      <p>{{ project.Decription }}</p>
    </mat-card-content>

    <!-- <mat-card-actions>
      <a mat-button color="primary" [href]="project.link" target="_blank" rel="noopener noreferrer">
        Source Code via GitHub
      </a>
    </mat-card-actions> -->
  </mat-card>


</div>

  <app-footer></app-footer>
