<h2>Technical Skills</h2>

<div class="skill-grid">

  <div class="skill-box">
    <h3>Programming</h3>
    <ul>
      <li *ngFor="let item of programming">{{ item }}</li>
    </ul>
  </div>

  <div class="skill-box">
    <h3>Operating Systems</h3>
    <ul>
      <li *ngFor="let item of operatingSystems">{{ item }}</li>
    </ul>
  </div>

  <div class="skill-box">
    <h3>Network Technologies</h3>
    <ul>
      <li *ngFor="let item of networkTechnologies">{{ item }}</li>
    </ul>
  </div>

  <div class="skill-box">
    <h3>Database Administration</h3>
    <ul>
      <li *ngFor="let item of databaseAdministration">{{ item }}</li>
    </ul>
  </div>

  <div class="skill-box">
    <h3>Virtual Machines</h3>
    <ul>
      <li *ngFor="let item of virtualMachines">{{ item }}</li>
    </ul>
  </div>

  <div class="skill-box">
    <h3>Linux File Systems</h3>
    <ul>
      <li *ngFor="let item of linuxFileSystems">{{ item }}</li>
    </ul>
  </div>

</div>
