.passtimes {
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #cbbfa5; /* slightly deeper beige */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 1px solid #cbbfa5;
  text-align: center;
}

.passtimes h2 {
  font-size: 2rem;
  color: #5a4433;
  margin-bottom: 1rem;
}

.passtimes ul {
  list-style-type: square;
  padding-left: 1.5rem;
  align-content: center;
  justify-content: center;
}

.passtimes li {
  margin-bottom: 0.5rem;
  color: #3b2f2f;
  font-size: 1.1rem;
  align-content: center;
  justify-content: center;
  list-style:none; 
}
.passtimes ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.photo-item {
  display: flex;
  align-items: center;
}

.passtime-img {
  width: 300px;        /* SMALLER for card */
  height: 300px;
  object-fit: cover;  /* clean fit without distortion */
  border-radius: 6px;
  margin-left: 10px;  /* spacing from text */
}
